<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" id="pageSidebar" data-widget="tree">
        <!-- <li class="">
            <a href="index.html">
                <i class="fa fa-dashboard"></i>
                <span>仪表盘</span>
            </a>
        </li>       
        <li class="header">系统菜单</li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-gears "></i>
                <span>系统管理</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="index.html">
                        <i class="fa fa-circle-o"></i> 产品管理</a>
                </li>
                <li>
                    <a href="index.html">
                        <i class="fa fa-circle-o"></i> 站内公告</a>
                </li>
                <li>
                    <a href="index2.html">
                        <i class="fa fa-circle-o"></i> 字典数据</a>
                </li>
            </ul>
        </li> --> 
    </ul>
    <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->