<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        首页
        <small>仪表盘</small>
    </h1> 
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- 页面内容开始 -->
    <div class="row">        
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>150</h3>
                        <p>新订单</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer">更多信息 <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>53<sup style="font-size: 20px">%</sup></h3>

                        <p>净利润增长率</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="#" class="small-box-footer">更多信息 <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>440</h3>

                        <p>新注册用户</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#" class="small-box-footer">更多信息 <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>650</h3>

                        <p>访问记录</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">更多信息 <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
    </div>
    <!-- /.row -->   
    <div class="row">
        <div class="col-md-12">
          <div class="box box-solid">
            <div class="box-header with-border">         
              <h3 class="box-title">SDRMS</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <h3>简介</h3>
              <p>SDRMS是基于Beego开发的易用、易扩展、界面友好的轻量级功能权限管理系统。前端框架基于AdminLTE2进行资源整合，包含了多款优秀的插件，
                  是笔者对多年后台管理系统开发经验精华的萃取。</p>   
                <p> 本系统非常适合进行后台管理系统开发，统一的代码和交互给二次开发带来极大的方便，在没有前端工程师参与的情况下就可以进行快速的模块式开发，
                  并保证用户使用的友好性和易用性。系统里整合了众多优秀的资源，在此感谢各位大神的无私奉献。</p>                        
              <h3>开源项目地址</h3>
              <p>GitHub：<a href="https://github.com/lhtzbj12/sdrms">https://github.com/lhtzbj12/sdrms</a></p>
              <p>码云：<a href="https://gitee.com/lhtzbj12/sdrms">https://gitee.com/lhtzbj12/sdrms</a></p>
              <h3>笔者博客</h3>
              <p><a href="http://blog.csdn.net/lhtzbj12">http://blog.csdn.net/lhtzbj12</a></p>
              <p>E-mail: lhtzbj12@126.com</p>
              <h3>特点</h3>
              <ol>
                  <li>分页列表页面的搜索条件、搜索面板、PageSize、当前页数、显示/隐藏列在变化时自动保存，页面刷新后、重新进入时，这些状态依然保持；</li>
                  <li>TreeTabe列表节点展开/收缩状态、滚动条位置时自动保存，页面刷新后、重新进入时，这些状态依然保持；</li>
                  <li>编辑分页列表、TreeTabe列表中数据后，当前数据行背景闪烁，如果当前数据行由于顺序变化跳出可视区域，则滚动条自动滚动，
                      将当前数据行移动至可视区域；</li>                  
                  <li>精确至Action的轻量级功能权限控制，后台用户与角色、角色与资源（菜单、按钮）都是多对多关系，可以灵活配置用户可访问的资源。</li>
              </ol>  
              <h3>后端框架</h3>
              <ul>
                  <li>基于Beego 1.9.1，使用官方的orm、cache、session、logs等模块，感谢原作者提供了如此简单易用的框架（<a href="https://beego.me/">更多信息</a>）;</li>
                  <li>代码风格源自笔者本人其他语言的风格，但参考了多个开源系统的代码风格如 PPGo_ApiAdmin（<a href="https://github.com/george518/PPGo_ApiAdmin">更多信息</a>）、
                   ERP系统（<a href="https://github.com/hexiaoyun128/ERP">更多信息</a>）等。</li>
              </ul>
              <h3>前端框架</h3>
              <ul>
                  <li>基于AdminLTE2（<a href="https://adminlte.io/themes/AdminLTE/index2.html">更多信息</a>）；</li>
                  <li>弹出层插件使用了Layer（<a href="http://layer.layui.com/">更多信息</a>）；</li>
                  <li>分页列表使用Bootstrap-table（<a href="http://bootstrap-table.wenzhixin.net.cn/zh-cn/getting-started/">更多信息</a>），
                  并集成cookie、x-editable等辅助插件（<a href="http://bootstrap-table.wenzhixin.net.cn/zh-cn/extensions/">更多信息</a>）实现状态保持、快速编辑等功能。对Bootstrap-table进行了扩展
                      使分页导航可以通过下拉迅速定位。修复Bootstrap-table-cookie的若干Bug；
                  </li>
                  <li>TreeTable列表使用jQuery-treetable插件，按照Boostrap风格进行了样式调整（<a href="http://ludo.cubicphuse.nl/jquery-treetable/">更多信息</a>）；</li>
                  <li>下拉框使用Bootstrap-select（<a href="http://silviomoreto.github.io/bootstrap-select/">更多信息</a>）；</li>
                  <li>高亮显示使用的是笔者自已开发的插件；</li>
                  <li>分页列表里搜索条件、搜索面板状态自动保存使用的是笔者自已开发的插件。</li>
              </ul>       
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
    </div>
    <!-- 页面内容结束 -->
</section>
<!-- /.content -->
