<section class="content-header">   
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>    
      <li class="active">Error</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="error-page">
      <h2 class="headline text-yellow"> 404</h2>

      <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> 页面不存在</h3>

        <p>
          请刷新后重试
        </p>        
      
      </div>
      <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
  </section>
  <!-- /.content -->