<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        课程管理
        <small>系统后台课程管理数据</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{urlfor "HomeController.Index"}}">
                <i class="fa fa-dashboard"></i> 首页</a>
        </li>
        <li class="active">课程管理</li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- 页面内容开始 -->
    <div class="row">
        <div class="col-md-12">           
            <form id="searchForm" class="searchForm" onsubmit="return false">
                <div class="box box-solid collapsed-box">
                    <div class="box-header with-border">                     
                        <input type="text" name="Name" class="form-control pull-left input-wd-md" placeholder="名称">
                        <div class="btn-group searchbtns">
                            <button type="button" class="btn btn-warning" id="btnSearch"><i class="fa fa-search"></i> 搜索</button>
                            <button type="button" class="btn btn-default" id="btnClearSearch"><i class="fa fa-eraser"></i> 清除</button>
                        </div>						          
                        <div class="box-tools pull-right">
                            <button id="searchpanelbtn" type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                                </button>
                        </div>						          
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="display: none;">
                        <!-- 这里放更多的查询条件，当 box-body 里出更多查询条件时，右侧会出现展开/收缩的按钮-->
                    </div>
                    <!-- /.box-body -->
                </div>
            </form>
            <!-- /.searchForm -->
            <div class="box box-solid">
                <div class="box-body">
                    <div class="btn-group" id="toolbar">
                        {{ if .canEdit}}
                        <button class="btn btn-info" href="javascript:;" onclick="EditFun(0)">
                            <i class="fa fa-plus"></i> 添加</button>    
                        {{end}} 
                        {{ if .canDelete}}                            
                        <button class="btn btn-danger table-btn-check-enable" disabled onclick="DeleteFun()">
                            <i class="fa fa-trash"></i> 删除
                        </button>
                        {{end}}  
                    </div>
                    <table id="dataGrid"></table>
                </div>
            </div>
        </div>
    </div>
    <!-- 页面内容结束 -->
</section>
<!-- /.content -->