<!-- 页面内容开始 -->
<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">                        
                    </div>
                    <div class="col-md-6 align-right">
                        <div class="btn-group">
                            <button class="btn btn-warning treegridexpend" data-target="#treeGrid" >
                                <i class="fa fa-expand"></i> 全部展开</button>
                            <button class="btn btn-primary treegridcollapse" data-target="#treeGrid" >
                                <i class="fa fa-compress"></i> 全部收缩
                            </button>
                        </div>
                    </div>
                </div>
                <table id="treeGrid" class="table  table-bordered table-hover margin-top-10">
                    <thead>
                        <th class="align-center">
                            <input type="checkbox" class="chkAll" />
                        </th>
                        <th>名称</th>
                        <th class="align-center">图标</th>
                        <th class="align-center">类别</th>
                        <th>地址</th>                             
                    </thead>
                    <tbody>                            
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<!-- 页面内容结束 -->
